# This can created by
# $ irb
# irb> require 'securerandom'
# irb> SecureRandom.hex(64)
# irb=> "secure random string"
SECRET_KEY_BASE=replaceme

# fastladder database.yml
DB_NAME=fastladder
DB_USER=fastladder
DB_PASSWORD=fastladder1234
DB_HOST=db
